<%- include('../partials/admin-header.html', pageHeader) %>

<div class="container-fluid">
  <div id="blogpostform">
    <form action="#">
      <div class="row">
        <div class="form-group col-sm-10">
          <input type="text" class="form-control" v-model="title" placeholder="Post title" />
        </div>
        <div class="form-group col-sm-2">
          <button class="btn btn-success btn-block" v-on:click="save"><i class="fa fa-save"></i> Save</button>
        </div>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" v-model="slug" placeholder="Post slug" />
      </div>
      <div class="editor-modification-time" v-if="createdAt">
        <p><i class="fa fa-clock-o"></i> Created : {{(new Date(createdAt)).toLocaleString("en-US")}}, Modified : {{updatedAt!==createdAt?(new Date(updatedAt)).toLocaleString("en-US"):'Never'}}</p>
      </div>
      <div class="form-group">
        <div class="post-content-editor" id="contentEditor">
          <!-- Content Goes Here -->
        </div>
      </div>
      <div class="form-group">
        <input type="checkbox" id="checkbox" v-model="published">
        <label for="checkbox">Published</label>
        <button class="btn btn-danger pull-right" v-on:click="remove" v-if="id"><i class="fa fa-trash"></i> Delete</button>
      </div>
    </form>
  </div>
</div>

<script src="https://unpkg.com/pell"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script>
  const postData = <%-post ? JSON.stringify(post) : '{}' %>
  const fields = {
    id: false,
    title: '',
    slug: '',
    content: '',
    published: false,
    createdAt: null,
    updatedAt: null
  }
  Object.keys(fields).forEach((field) => {
    postData[field] = postData[field] || fields[field]
  })

  function slugify(string) {
    const a = 'àáäâãåèéëêìíïîòóöôùúüûñçßÿœæŕśńṕẃǵǹḿǘẍźḧ·/_,:;'
    const b = 'aaaaaaeeeeiiiioooouuuuncsyoarsnpwgnmuxzh------'
    const p = new RegExp(a.split('').join('|'), 'g')
    return string.toString().toLowerCase()
      .replace(/\s+/g, '-') // Replace spaces with
      .replace(p, c => b.charAt(a.indexOf(c))) // Replace special characters
      .replace(/&/g, '-and-') // Replace & with ‘and’
      .replace(/[^\w\-]+/g, '') // Remove all non-word characters
      .replace(/\-\-+/g, '-') // Replace multiple — with single -
      .replace(/^-+/, '') // Trim — from start of text .replace(/-+$/, '') // Trim — from end of text
  }
  new Vue({
    el: '#blogpostform',
    data: postData,
    mounted() {
      pell.init({
        element: document.getElementById('contentEditor'),
        onChange: html => { this.content = html },
        defaultParagraphSeparator: 'p',
        styleWithCSS: false,
        actions: ["bold", "italic", "underline", "strikethrough", "heading1", "heading2", "paragraph", "quote", "olist", "ulist", "code", "line", "link", "image"],

        classes: {
          actionbar: 'pell-actionbar',
          button: 'pell-button',
          content: 'pell-content',
          selected: 'pell-button-selected'
        }
      })
      const contentElement = document.getElementsByClassName('pell-content')[0].innerHTML = this.content
    },
    watch: {
      title: function (value) {
        this.slug = slugify(value)
      }
    },
    methods: {
      save: function (e) {
        e.preventDefault()
        const postData = {
          id: this.$data.id,
          title: this.$data.title,
          slug: this.$data.slug,
          content: this.$data.content,
          published: this.$data.published
        }
        axios('/api/blog/posts', {
          method: postData.id ? 'put' : 'post',
          data: postData
        })
          .then((res) => {
            if (res.data.id) this.$data.id = res.data.id
            if (res.data.slug) history.pushState(null, '', `/admin/blog/post/${res.data.slug}`);
            new Noty({
              type: 'success',
              text: 'Blog post saved',
              timeout: 2000,
              layout: 'bottomCenter'
            }).show();
          })
          .catch(err => {
            new Noty({
              type: 'error',
              text: 'Could not save blog post, duplicate slug?',
              timeout: 2000,
              layout: 'bottomCenter'
            }).show();
          })
      },
      remove: function (e) {
        e.preventDefault();
        axios('/api/blog/posts', {
          method: 'delete',
          data: {
            id: this.id
          }
        })
          .then(res => {
            window.location.href = '/admin/blog'
          })
          .catch(err => {
            new Noty({
              type: 'error',
              text: 'Could Not delete post',
              timeout: 2000,
              layout: 'bottomCenter'
            }).show();
          })
      }
    }
  })
</script>

<%- include ../partials/footer.html %>