<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>
    <%=site_options.sitetitle%> -
    <%=message%>
  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
  <header style="width:100%">
    <div class="header-overlay"></div>
    <div class="header-content">
      <div class="error">
        <h1>
          <%=httpCode%>
        </h1>
        <h3>
          <%=message%>
        </h3>
      </div>
      <nav>
        <ul>
          <li><a href="/">Go back home</a></li>
        </ul>
      </nav>
    </div>
  </header>
</body>

</html>